@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Book.woff') format('woff'),
    url('./fonts/CircularStd-Book.woff') format('woff');
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Book.woff') format('woff'),
    url('./fonts/CircularStd-Book.woff') format('woff');
  /* font-weight: 400; */
  font-style: normal;
}